<!--Application-wide header content goes here (no <header> tags required)-->

<h1><a href="/"  title="Resource Management">Resource Management</a></h1>

<!--DO NOT MODIFY NAV HERE. Make necessary application-wide changes to partials/navigation.ejs-->
<nav role="navigation"><% include navigation.ejs %></nav>