<!--
Application-wide navigation menu goes here (no <nav> tags required). Each
navigation item should appear as a <li> in a list. Make sure to reference the
appropriate route and include a title and label as required.
-->

<ul>
    <li><a href="/view1" title="Title1">Label1</a></li>
    <li><a href="/view2" title="Title2">Label2</a></li>
    <li><a href="/view3" title="Title3">Label3</a></li>
</ul>