<header>
	<h2>{{title}}</h2> 
	{{#if errorMessage}}<p class="errorMessage"><strong>Error:&nbsp</strong>{{errorMessage}}</p>{{/if}}
</header>

<form name="createOrganization" method="post">
    <label for="organizationName">Organization Name</label>
    <input type="text" id="organizationName" name="name" value="{{content.name}}" required>
    <label for="defaultOrganization">Make this my default workspace</label>
    <input type="checkbox" id="defaultOrganization" name="defaultOrganization" value="true" checked>
    <input type="submit" value="Create">
</form>

<footer>
	<!-- Client-side GUI scripts go here -->
</footer>