<header>
	<h2>{{title}}</h2> 

	<div id="currentRole">
		<p>Current Role: {{currentRole}} | <a href="/organizations/requestAccess" title="Request Access">Request Access</a></p>
	</div>
</header>

{{organization}}