<!DOCTYPE html>
<html>

<head lang="en"><% include partials/head.ejs %></head>

<body>
    <header role="banner">
        <% include partials/banner.ejs %>
    </header>

    <main role="main">
        <h2><%= title %></h2>
        <!--View-specific content goes here-->
    </main>

<footer>
    <% include partials/footer.ejs %>
</footer>

</body>
</html>