<!DOCTYPE html>
<html>

<head lang="en"><% include partials/head.ejs %></head>

<body>
    <header role="banner">
        <% include partials/banner.ejs %>
    </header>

    <main role="main">
        <p>Welcome to <%= title %></p>
    </main>

    <footer>
        <% include partials/footer.ejs %>
    </footer>

</body>
</html>
