{{!-- Client View --}}
<div data-ng-app="app">
	{{!-- 
		Add content to appropriate .html file located at 
		/public/javascript/app/view/'featureName'.html
	--}}
	<div ng-view></div>
</div>

<footer>
	<!-- Client App -->
	<script src="/bower/angular/angular.min.js"></script>
	<script src="/bower/angular-route/angular-route.min.js"></script>
	<script src="/javascript/app/app.js"></script>
	<script src="/javascript/app/route-config.js"></script>
	<script src="/javascript/app/services/api-service.js"></script>

	<!-- Client Controllers -->
	<script src="/javascript/app/controllers/dashboard.js"></script>
	<script src="/javascript/app/controllers/organization.js"></script>
	
	<!-- ngDialog -->
	<script src="/bower/ngDialog/js/ngDialog.min.js"></script>
	<link href="/bower/ngDialog/css/ngDialog.min.css" rel="stylesheet">
	<link href="/bower/ngDialog/css/ngDialog-theme-default.min.css" rel="stylesheet">
</footer>