<strong ng-show="!viewModel.organization.name">Loading...</strong>
<header ng-show="viewModel.organization.name">
<h3 ng-bind="viewModel.organization.name"></h3>
<nav role="navigation" class="workspaceNavigation">
            <ul>
                <li><a href="timeline" title="Timeline">Timeline</a></li>
                <li><a href="requests" title="Requests">Requests</a></li>
                <li><a href="resources" title="Resources">Resources</a></li>
                <li><a href="organization" title="Organization Info">Organization Info</a></li>
            </ul>
        </nav>	
</header>

<section>
	<h4>Timeline</h4>
	GUI for visually representing resources and requests on a timeline. 
</section>

<section>
	<h4>Requests</h4>
	<table>
		<tr>
			<th>Resource Type</th>
			<th>QTY</th>
			<th>Description</th>
			<th>Start</th>
			<th>End</th>
			<th>Location</th>
			<th>Requestor</th>
			<th>Submitted</th>
			<th>Status</th>
		</tr>
		<tr ng-repeat="request in viewModel.requests">
			<td ng-bind="request._resourceType.type"></td>
			<td ng-bind="request.quantity"></td>
			<td ng-bind="request.description"></td>
			<td ng-bind="request.startTime"></td>
			<td ng-bind="request.endTime"></td>
			<td ng-bind="request.location"></td>
			<td ng-bind="request._createdBy.email"></td>
			<td ng-bind="request.createdTime"></td>
			<td ng-bind="request.status"></td>
		</tr>
	</table>
	
	<p class="action"
		ng-click="viewModel
			.requestWidget
			.createRequest
			.dialog()">
		Add Request
	</p>
	
</section>

<section>
	
	<h4>Resources</h4>
	<p>Select a Resource Type:</p>
	<ul>
		<li ng-repeat="resourceType in viewModel.resourceTypes" 
			ng-bind="resourceType.type">
		</li>
	</ul>
	<p class="action"
		ng-click="viewModel
			.resourceWidget
			.createResourceType
			.dialog()">
		Add Resource Type
	</p>
	
</section>

<section>
	<h4>Organization Info</h4>
	<table>
		<tr>
			<td>Name</td>
			<td ng-bind="viewModel.organization.name"></td>
		</tr>
		<tr>
			<td>Description</td>
			<td ng-bind="viewModel.organization.description"></td>
		</tr>
	</table>
	<p class="action"
		ng-click="viewModel
			.organizationWidget
			.deleteOrganization
				.dialog()">
		Delete Organization
	</p>
</section>

<!--<section>-->
<!--	<h3>Timeline</h3>-->
<!--<pre>-->
<!--GUI for visually representing resources and requests on a timeline. -->
<!--INPUT/OUTPUT: -->
<!--	Variable 	Data Type 		Example 	-->
	
<!--	requests 	JSON Array 		{[-->
<!--							{ -->
<!--							"_id" : ObjectId("55236a2aa5719f79158e5a89"), -->
<!--							"resourceType" : ObjectId("55236a2aa5719f79158e5a89"), -->
<!--							"description" : "meeting", -->
<!--							"startTime" : ISODate("1970-01-01T00:00:00Z"), -->
<!--							"endTime" : ISODate("1970-01-01T00:00:00Z"), -->
<!--							"location" : "Bldg. 100", -->
<!--							"createdOn" : ISODate("2015-04-07T05:24:58.026Z"),-->
<!--							"status" : "pending"-->
<!--							},-->
<!--							{-->
<!--							"_id" : ObjectId("55236ac8a5719f79158e5a8a"),-->
<!--							"resourceType" : ObjectId("55236a2aa5719f79158e5a89"), -->
<!--							"description" : "road trip!", -->
<!--							"startTime" : ISODate("1970-01-01T00:00:00Z"), -->
<!--							"endTime" : ISODate("1970-01-01T00:00:00Z"), -->
<!--							"location" : "Cairns to Sydney", -->
<!--							"createdOn" : ISODate("2015-04-07T05:27:36.961Z"),-->
<!--							"status" : "approved"-->
<!--							}-->
<!--						]}-->
	
<!--	resources 	JSON Array 		{[-->
<!--							{-->
<!--							"_id" : ObjectId("55277496ecd510591e197670"), -->
<!--							"resourceType" : ObjectId("55236a2aa5719f79158e5a89"),-->
<!--							"name" : "101"-->
<!--							}-->
<!--							{-->
<!--							"_id" : ObjectId("55277496ecd510591e197670"), -->
<!--							"resourceType" : ObjectId("55236a2aa5719f79158e5a89"),-->
<!--							"name" : "102"-->
<!--							}-->
<!--						]}-->
											
<!--</pre>-->
<!--</section>-->

<!--<section>-->
<!--	<h3>Requests</h3>-->
<!--<pre>-->
<!--Dynamic table listing all pending, approved, and denied requests.-->
<!--INPUT/OUTPUT: -->
<!--	Variable 	Data Type 		Example 	-->
	
<!--	requests 	JSON Array 		{[-->
<!--							{ -->
<!--							"_id" : ObjectId("55236a2aa5719f79158e5a89"), -->
<!--							"resourceType" : ObjectId("55236a2aa5719f79158e5a89"), -->
<!--							"description" : "meeting", -->
<!--							"startTime" : ISODate("1970-01-01T00:00:00Z"), -->
<!--							"endTime" : ISODate("1970-01-01T00:00:00Z"), -->
<!--							"location" : "Bldg. 100", -->
<!--							"createdOn" : ISODate("2015-04-07T05:24:58.026Z"),-->
<!--							"status" : "pending"-->
<!--							},-->
<!--							{-->
<!--							"_id" : ObjectId("55236ac8a5719f79158e5a8a"),-->
<!--							"resourceType" : ObjectId("55236a2aa5719f79158e5a89"), -->
<!--							"description" : "road trip!", -->
<!--							"startTime" : ISODate("1970-01-01T00:00:00Z"), -->
<!--							"endTime" : ISODate("1970-01-01T00:00:00Z"), -->
<!--							"location" : "Cairns to Sydney", -->
<!--							"createdOn" : ISODate("2015-04-07T05:27:36.961Z"),-->
<!--							"status" : "approved"-->
<!--							}-->
<!--						]}-->
											
<!--</pre>-->
<!--	<h4>Add Request</h4>-->
<!--	<form name="addRequest" method="post" action="addRequest">-->
	    <!--<label for="resourceType">Resource Type</label>-->
	    <!--<input type="text" id="resourceType" name="resourceType" value="{{content.resourceType}}">-->
	    
	    <!--<label for="description">Description</label>-->
	    <!--<input type="text" id="description" name="description" value="{{content.description}}" required>-->
	    
	    <!--<label for="startTime">Start Time</label>-->
	    <!--<input type="date" id="startTime" name="startTime" value="{{content.startTime}}" required>-->
	    
	    <!--<label for="endTime">End Time</label>-->
	    <!--<input type="date" id="endTime" name="endTime" value="{{content.endTime}}" required>-->
	    
	    <!--<label for="location">Location</label>-->
	    <!--<input type="text" id="location" name="location" value="{{content.location}}" required>-->
	    
	    <!--<input type="submit" value="Submit">-->
<!--	    {{!-- Additional Values to be submitted in request body: --}}-->
<!--			{{resourceTypes._id}}-->
<!--	</form>-->
<!--</section>-->

<!--<section>-->
<!--	<h3>Resources</h3>-->
<!--		<h4>Resource Types</h4>-->
<!--<pre>-->
<!--List of defined resource types. Most likely implemented as a selector to filter resources table. -->
<!--INPUT/OUTPUT: -->
<!--	Variable 		Data Type 		Example 	-->
	
<!--	resourceTypes 		JSON Array 		{[-->
<!--								{ -->
<!--								"_id" : ObjectId("55236a2aa5719f79158e5a89"), -->
<!--								"type" : "Conference Room" -->
<!--								},-->
<!--								{-->
<!--								"_id" : ObjectId("55236ac8a5719f79158e5a8a"),-->
<!--								"type" : "Car")-->
<!--								}-->
<!--							]}-->
<!--</pre>-->
<!--			<h5>Add Resource Type</h5>-->
<!--				<form name="addResourceType" method="post" action="addResourceType">-->
<!--				    <label for="resourceTypeName">Resource Type Name</label>-->
<!--				    <input type="text" id="resourceTypeName" name="type" value="{{content.type}}" required>-->
<!--				    <input type="submit" value="Submit">-->
<!--				    {{!-- -->
<!--				    The 'type' field is the only required element. The rest of the form will allow-->
<!--				    the user to add as many rows as necessary to define the attributes for their new-->
<!--				    resource type. Each user-specified attribute has the following fields:-->
<!--				    	fieldName (required) 	-->
<!--				    	dataType (String, Number, Date, Boolean, Array)-->
<!--				    	required (true/false)-->
<!--				    --}}-->
<!--				    {{!-- Additional Values to be submitted in request body: --}}-->
<!--				    	{{organization._id}}-->
<!--				</form>-->
		
<!--		<h4>Resources</h4>-->
<!--<pre>-->
<!--Dynamic table listing all resources by type (specified in another control on page). -->
<!--INPUT/OUTPUT: -->
<!--	Variable 	Data Type 		Example 	-->
	
<!--	resources 	JSON Array 		{[-->
<!--							{-->
<!--							"_id" : ObjectId("55277496ecd510591e197670"), -->
<!--							"resourceType" : ObjectId("55236a2aa5719f79158e5a89"),-->
<!--							"name" : "101"-->
<!--							}-->
<!--							{-->
<!--							"_id" : ObjectId("55277496ecd510591e197670"), -->
<!--							"resourceType" : ObjectId("55236a2aa5719f79158e5a89"),-->
<!--							"name" : "102"-->
<!--							}-->
<!--						]}-->
											
<!--</pre>-->
<!--			<h5>Add Resource</h5>-->
<!--			<form name="addResource" method="post" action="addResource">-->
<!--			    <label for="resourceName">Resource Name</label>-->
<!--			    <input type="text" id="resourceName" name="resourceName" value="{{content.resourceName}}" required>-->
<!--			    <label for="resourceType">Resource Type</label>-->
<!--			    <input type="text" id="resourceType" name="resourceType" value="{{content.resourceType}}" required>-->
<!--			    <input type="submit" value="Submit">-->
<!--			    {{!-- Additional Values to be submitted in request body: --}}-->
<!--					{{resourceTypes._id}}-->
<!--			</form>-->
<!--</section>-->

<!--<section>-->
<!--	<h3>Settings</h3>-->
<!--<pre>-->
<!--Users with 'Owner' role can make changes to the organization info, manage roles, etc.	-->
<!--</pre>-->
<!--</section>-->