<strong ng-show="!viewModel.organization.name">loading...</strong>
<header ng-show="viewModel.organization.name">
	
	<h3 ng-bind="viewModel.organization.name"></h3>
	
	<nav role="navigation" class="workspaceTabs">
	    <ul>
	        <li ng-if="viewModel.role === 'manager' || 
	        			viewModel.role === 'owner'"
	        	ng-click="viewModel.tab.setActiveTab('timeline')">
	        	Timeline
	        </li>
	        
	        <li ng-if="viewModel.role === 'requestor' ||
	        			viewModel.role === 'manager' || 
	        			viewModel.role === 'owner'"
	        	ng-click="viewModel.tab.setActiveTab('requests')">
	        	Requests
	        </li>
	        
	        <li ng-click="viewModel.tab.setActiveTab('resources')">
	        	Resources
	        </li>
	        <li ng-click="viewModel.tab.setActiveTab('organization')">
	        	Organization Info
	        </li>
	    </ul>
	</nav>
	
	<div>
		<span ng-bind="'Role: ' + viewModel.role"></span>
	</div>
</header>

<section 
	ng-if="viewModel.role === 'manager'|| viewModel.role === 'owner'"
	ng-show="viewModel.tab.activeTab === 'timeline'">
	
	<h4>Timeline</h4>
	GUI for visually representing resources and requests on a timeline. 

</section>

<section 
	ng-if="viewModel.role === 'requestor' ||
			viewModel.role === 'manager' || 
			viewModel.role === 'owner'"
	ng-show="viewModel.tab.activeTab === 'requests'">
	
	<h4>Requests</h4>
	
	<strong ng-show="!viewModel.requests">loading...</strong>
	<strong ng-show="viewModel.requests.length === 0">there are no requests</strong>
	
	<table ng-show="viewModel.requests && viewModel.requests.length > 0">
		<tr>
			<th>Resource Type</th>
			<th>QTY</th>
			<th>Description</th>
			<th>Start</th>
			<th>End</th>
			<th>Location</th>
			<th>Requestor</th>
			<th>Submitted</th>
			<th>Status</th>
		</tr>
		<tr ng-repeat="request in viewModel.requests"
			ng-class="{even: $even, odd: $odd}">
			<td ng-bind="request._resourceType.type"></td>
			<td ng-bind="request.quantity"></td>
			<td ng-bind="request.description"></td>
			<td ng-bind="request.startTime"></td>
			<td ng-bind="request.endTime"></td>
			<td ng-bind="request.location"></td>
			<td ng-bind="request._createdBy.email"></td>
			<td ng-bind="request.createdTime"></td>
			
			<td ng-if="viewModel.role === 'manager'|| viewModel.role === 'owner'">
				<select
					ng-model="request.status"
					ng-change="viewModel.requestWidget.updateRequest(request)">
						<option>pending</option> 
						<option>approved</option>
						<option>denied</option>
						<option>cancelled</option>
				</select>
			</td>
			
			<td ng-if="viewModel.role === 'requestor' ||
	        			viewModel.role === 'manager' || 
	        			viewModel.role === 'owner'"
	        	ng-bind="request.status"></td>
	        <td ng-if="viewModel.role === 'requestor'">
	        	<button ng-click="viewModel.requestWidget.cancelRequest(request)">
	        		cancel
	        	</button>
	        </td>
		</tr>
	</table>
	
	<ul class="action">
		<li	ng-click="viewModel
				.requestWidget
				.createRequest
				.dialog()">
			add request
		</li>
	</ul>
	
</section>

<section ng-show="viewModel.tab.activeTab === 'resources'">
	
	<h4 ng-if="viewModel.role === 'manager'|| viewModel.role === 'owner'">
		Resources
	</h4>
	
	<h4 ng-if="viewModel.resourceTypes.length > 0 && 
		(viewModel.role === 'viewer'|| viewModel.role === 'requestor')">
			Resource types available to request
	</h4>
	
	<strong ng-show="!viewModel.resourceTypes.length > 0">
		There are no resource types defined
	</strong>
	
	<ul ng-if="viewModel.role === 'manager'|| viewModel.role === 'owner'"
		class="action">
		
		<li ng-show= "viewModel.resourceTypes.length > 0">
			<select
			 	ng-options="resourceType as resourceType.type for resourceType in viewModel.resourceTypes"
				ng-model="viewModel.resourceTypes.selected"
				ng-change="viewModel.resourceWidget.selectType(viewModel.resourceTypes.selected)">
			 	<option value="">--select a resource type--</option>
			</select> 	
		</li>
		
		<li
			ng-click="viewModel
				.resourceWidget
				.createResourceType
				.dialog()">
			add resource type
		</li>
	
		<li ng-show= "viewModel.resourceTypes.selected"
			ng-click="viewModel
				.resourceWidget
				.addAttribute
				.dialog()">
			add an attribute
		</li>	
	</ul>
		
	<ul ng-if="viewModel.role === 'viewer'|| viewModel.role === 'requestor'">
		<li ng-repeat="resourceType in viewModel.resourceTypes"
			ng-bind="resourceType.type"></li>		
	</ul>
	
	<div ng-if="viewModel.role === 'manager'|| viewModel.role === 'owner'"
		ng-show= "viewModel.resourceTypes.selected">
		
		<h5 ng-bind="'Available ' + viewModel.resourceTypes.selected.type + 's'"></h5>
	
		<strong ng-show="!viewModel.resources">loading...</strong>
		<strong ng-show="viewModel.resources.length === 0"
				ng-bind="'There are no ' +  viewModel.resourceTypes.selected.type + 's defined'">
		</strong>
		
		<form 
			name="addResource" 
			method="post" 
			novalidate
			ng-submit="addResource.$valid && 
				viewModel.resourceWidget.addResource.submit()">
		
		<!--Existing Resources-->
		<table class="data">
		
		<div ng-if="viewModel.resources && viewModel.resources.length > 0">
			<tr>
				<th ng-repeat="attribute in viewModel.resources.attributes" 
					ng-bind="attribute.name"></th>
			</tr>
			
			<tr ng-repeat="resource in viewModel.resources"
				ng-class="{even: $even, odd: $odd}">
				
				<td ng-repeat="attribute in viewModel.resources.attributes"
					ng-bind="resource[attribute.name]"></td>	
			</tr>
		</div>
		
			<!--Add a new resource-->
			<tr>
				<td ng-repeat="attribute in viewModel.resources.attributes">
						<input type="{{ attribute.type }}"
								name="{{ attribute.name }}"
								placeholder="{{ attribute.name }}"
								ng-model="viewModel.resourceWidget.addResource.data[attribute.name]"
								ng-if="attribute.required"
								required>
						<input type="{{ attribute.type }}"
								name="{{ attribute.name }}"
								placeholder="{{ attribute.name }}"
								ng-model="viewModel.resourceWidget.addResource.data[attribute.name]"
								ng-if="!attribute.required">
				</td>
				
				<td>
					<input ng-if="!viewModel.resourceWidget.addResource.processing" type="submit" value="Add">
					<input ng-if="viewModel.resourceWidget.addResource.processing" type="submit" value="processing..." disabled>
				</td>
			    
			    <div class="status" ng-show="addResource.$submitted && viewModel.resourceWidget.addResource.data">
			    	<ul>
			    		<li ng-repeat="attribute in viewModel.resources.attributes | filter:attribute.required"
			    			class="error" 
			    			ng-show="addResource[attribute.name].$error.required"
			    			ng-bind="attribute.name + ' is required'">
			    		</li>
			    	</ul>
			    </div>
			    
			</tr>
		</table>	
		
		</form>
	</div>
	
</section>

<section ng-show="viewModel.tab.activeTab === 'organization'">
	
	<h4>Organization Info</h4>
	
	<table ng-if="viewModel.role !== 'owner'">
		
		<tr>
			<td>Name</td>
			<td ng-bind="viewModel.organization.name"></td>
		</tr>
		
		<tr>
			<td>Description</td>
			<td ng-bind="viewModel.organization.description"></td>
		</tr>
		
		<tr ng-if="viewModel.role === 'manager' || viewModel.role === 'owner'">
			<td>Default Access</td>
			<td ng-bind="viewModel.organization.settings.defaultAccess"></td>
		</tr>
		
		<tr>
			<td>Role Manager</td>
			<td>
				<a ng-href="mailto:{{viewModel.organization.settings.roleManager}}"
					ng-bind="viewModel.organization.settings.roleManager"></a>
			</td>
		</tr>
	</table>
	
	<!-- Owners Can Update Organization Details and Settings -->
	<form ng-if="viewModel.role === 'owner'"
		name="updateOrganization"
		method="post" 
		novalidate
		ng-submit="updateOrganization.$valid && 
			viewModel.organizationWidget.updateOrganization()">
		
		<table>
			<tr>
				<td>Name</td>
				<td>
					<input type="text"
						name="name"
						ng-model="viewModel.organization.name"
						required>
				</td>
			</tr>
			
			<tr>
				<td>Description</td>
				<td>
					<input type="text"
						name="description"
						ng-model="viewModel.organization.description"
						required>
				</td>
			</tr>
			
			<tr>
				<td>Default Access</td>
				<td>
					<select 
						id="defaultAccess" 
						name="defaultAccess" 
						form="updateOrganization"
						ng-model="viewModel.organization.settings.defaultAccess"
						required>
							<option value="viewModel.organization.settings.defaultAccess" 
								ng-bind="viewModel.organization.settings.defaultAccess">
							</option>
							<option ng-if="viewModel.organization.settings.defaultAccess !== 'viewer'">
								viewer
							</option>
							<option ng-if="viewModel.organization.settings.defaultAccess !== 'requestor'">
								requestor
							</option>
					</select>
				</td>
			</tr>
			
			<tr>
				<td>Role Manager</td>
				<td>
					<input type="text"
						name="roleManager"
						ng-model="viewModel.organization.settings.roleManager">
				</td>
			</tr>
		</table>
		
		<input type="submit" value="update">
		<span ng-show="viewModel.organizationWidget.updateOrganization.processing">
	    	Processing...
	    </span>
	    
	    <div class="status" ng-show="updateOrganization.$submitted">
	    	<ul>
	    		<li 
	    			class="error" 
	    			ng-show="updateOrganization.name.$error.required">
	    			A unique organization name is required
	    		</li>
	    		<li 
	    			class="error" 
	    			ng-show="updateOrganization.description.$error.required">
	    			A brief description is required
	    		</li>
	    	</ul>
	    </div>
		
		<p class="action"
		ng-click="viewModel
			.organizationWidget
			.deleteOrganization
			.dialog()">
		delete organization
		</p>
	</form>
	
	<div ng-if="viewModel.role === 'manager'|| viewModel.role === 'owner'">
		
		<h5>Manage Roles</h5>
		<table>
			
			<tr>
				<th>First</th>
				<th>Last</th>
				<th>Email</th>
				<th>Role</th>
			</tr>
			
			<tr ng-repeat="user in viewModel.userRoles">
				<td ng-bind=user._user.firstName></td>
				<td ng-bind="user._user.lastName"></td>
				<td ng-bind=user._user.email></td>
				
				<td ng-if="viewModel.role === 'owner'">
					<select
						ng-model="user.role"
						ng-change="viewModel.organizationWidget.updateUserRole(user)">
							<option>viewer</option> 
							<option>requestor</option>
							<option>manager</option>
							<option>owner</option>
					</select>	
				</td>
				
				<td ng-if="user.role !== 'owner' && viewModel.role !== 'owner'">
					<select
						ng-model="user.role"
						ng-change="viewModel.organizationWidget.updateUserRole(user)">
							<option>viewer</option> 
							<option>requestor</option>
							<option>manager</option>
					</select>	
				</td>
				
				<td ng-if="user.role === 'owner' && viewModel.role !== 'owner'"
					ng-bind="user.role">
				</td>
			</tr>
		
		</table>
		
		<p class="action"
			ng-click="viewModel
				.organizationWidget
				.addUserRole
				.dialog()">
			add user
		</p>
		
	</div>
	
</section>