<div class="dialog">

	<h1>Request a Resource</h1>

	<form name="createRequest" method="post" novalidate ng-submit="createRequest.$valid && 
			viewModel.requestWidget.createRequest.submit()">

		<table>
			<tr>
				<td>
					<label for="resourceType">Resource Type</label>
				</td>
				<td>
					<select id="resourceType" 
						name="resourceType" 
						ng-options="resourceType._id as resourceType.type for resourceType in viewModel.resourceTypes" 
						ng-model="viewModel.requestWidget.createRequest.data._resourceType">
							<option value="">--select a resource type--</option>
					</select>
				</td>
			</tr>

			<tr>
				<td>
					<label for="quantity">Quantity</label>
				</td>
				<td>
					<input type="number" 
						id="quantity" 
						name="quantity" 
						ng-model="viewModel.requestWidget.createRequest.data.quantity" 
						required>
				</td>
			</tr>

			<tr>
				<td>
					<label for="description">Description</label>
				</td>
				<td>
					<input type="text" 
						id="description" 
						name="description" 
						ng-model="viewModel.requestWidget.createRequest.data.description" 
						required>
				</td>
			</tr>

			<tr>
				<td>
					<label for="startTime">Start Date</label>
				</td>
				<td>
					<input type="date" 
						id="startDate" 
						name="startDate" 
						ng-model="viewModel.requestWidget.createRequest.data.startDate" 
						required>
				</td>
			</tr>

			<tr>
				<td>
					<label for="endTime">End Date</label>
				</td>
				<td>
					<input type="date" 
						id="endDate" 
						name="endDate" 
						ng-model="viewModel.requestWidget.createRequest.data.endDate" 
						required>
				</td>
			</tr>

			<tr>
				<td>
					<label for="location">Location</label>
				</td>
				<td>
					<input type="text" 
						id="location" 
						name="location" 
						ng-model="viewModel.requestWidget.createRequest.data.location" 
						required>
				</td>
			</tr>
		</table>

		<input type="submit" value="Submit">
		<span ng-show="viewModel.requestWidget.createRequest.processing">
	    	Processing...
	    </span>

		<div class="status" ng-show="createRequest.$submitted">
			<ul>
				<li class="error" ng-show="createRequest.name.$error.required">
					A unique organization name is required
				</li>
				<li class="error" ng-show="createRequest.description.$error.required">
					A brief description is required
				</li>
			</ul>
		</div>

	</form>
</div>